@import url("https://fonts.googleapis.com/css?family=Amiri");
.Home {
  padding-top: 8%; }

.home-body {
  width: 100%; }
  .home-body > h2 {
    width: fit-content;
    visibility: hidden;
    margin-top: 10%;
    color: gray;
    font-size: 2em;
    letter-spacing: 3px;
    margin-left: 10%;
    opacity: .6; }

.center {
  display: flex;
  justify-content: center;
  width: 100%; }
  .center > div {
    width: 80%;
    font-weight: 100;
    font-size: 1.2em;
    line-height: 35px; }

.embeded-acuity {
  margin-top: 5%;
  background-color: #FFFAFA;
  display: flex; }

.title {
  margin-top: 10%;
  font-size: 2em;
  color: gray;
  letter-spacing: 3px;
  margin-left: 10%;
  opacity: .6; }

.margin-top {
  margin-top: 15%; }

.contact > iframe {
  margin-top: 5%;
  margin-bottom: 10%; }

.gh {
  display: flex;
  width: 100%;
  justify-content: center; }
  .gh > * {
    width: 48%; }
  .gh :nth-child(2) {
    margin-top: 1.8%;
    margin-left: 10px;
    height: 95vh; }

.reveal-text1, .reveal-text1::after {
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }

.reveal-text1 {
  visibility: initial !important;
  animation-name: reveal-text !important;
  white-space: nowrap;
  cursor: default;
  animation-duration: 1800ms !important;
  position: relative;
  font-size: 4vw;
  display: block;
  user-select: none; }
  .reveal-text1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: pink;
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: revealer-text !important;
    animation-duration: 2000ms !important; }

@keyframes reveal-text {
  from {
    clip-path: inset(0 100% 0 0); }
  to {
    clip-path: inset(0 0 0 0); } }

@keyframes revealer-text {
  0%, 50% {
    transform-origin: 0 50%; }
  60%, 100% {
    transform-origin: 100% 50%; }
  60% {
    transform: scaleX(1); }
  100% {
    transform: scaleX(0); } }

.Nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 100; }

.upper {
  background-color: #4d4d4d;
  transition: all 1s ease-in-out;
  height: 6vh;
  display: flex;
  justify-content: space-between; }
  .upper > :first-child {
    display: flex;
    justify-content: space-around;
    color: gray;
    width: 20%;
    font-size: 1.5em;
    font-weight: 400;
    padding-left: 3%;
    align-items: center;
    height: 100%; }
  .upper > :nth-child(2) {
    padding-right: 3%;
    color: gray; }
  .upper > * {
    transition: all .5s ease-in-out .5s; }

.upper2 {
  height: 0vh; }
  .upper2 > * {
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out 0s !important; }

.lower {
  display: flex;
  align-items: center;
  transition: all 2s ease-in-out;
  -webkit-box-shadow: 7px 7px 9px -4px #b9b9b9;
  -moz-box-shadow: 7px 7px 9px -4px #b1b1b1;
  box-shadow: 7px 3px 9px -4px #b3b3b3; }

.logo {
  transition: all 2s ease-in-out;
  margin-left: 7%;
  margin-right: 4%;
  width: 33%; }
  .logo > img {
    transition: all 2s ease-in-out;
    margin-top: 10px;
    height: 100px; }

.logo2 {
  transition: all 2s ease-in-out;
  width: 10%; }
  .logo2 > img {
    height: 75px;
    margin-bottom: -5px; }

.nav-top {
  display: flex;
  margin-right: 20px;
  margin-left: 5%; }
  .nav-top > div {
    margin-right: 2%;
    margin-left: 2%; }

.nav-all {
  display: flex;
  justify-content: space-around;
  width: 35%;
  text-transform: capitalize;
  transition: all 2s ease-in-out;
  color: gray;
  font-size: 1.5em; }
  .nav-all > :first-child {
    color: #666565; }

.nav-title {
  margin-left: -80px;
  margin-right: 40px;
  margin-top: 10px;
  font-size: 2.7em;
  font-weight: bold;
  color: #585858;
  letter-spacing: 3px;
  width: 33%;
  font-family: "Amiri";
  white-space: nowrap;
  transition: width 2s ease-in-out 0s, opacity 1s ease-in-out 1.5s; }

.nav-title2 {
  transition: all 2s ease-in-out 0s, opacity .5s ease-in-out, visibility .5s ease-in-out 2s !important;
  width: 0%;
  opacity: 0;
  visibility: hidden; }

.aws-btn {
  --slider-height-percentage: 39% !important;
  --slider-transition-duration: 700ms !important;
  --organic-arrow-thickness: 4px !important;
  --organic-arrow-border-radius: 0px !important;
  --organic-arrow-height: 40px !important;
  --organic-arrow-color: #26456f !important;
  --control-button-width: 10% !important;
  --control-button-height: 25% !important;
  --control-button-background: transparent !important;
  --control-bullet-color: #2d5182 !important;
  --control-bullet-active-color: #26456f !important;
  --loader-bar-color: #851515 !important;
  --loader-bar-height: 6px !important;
  background-color: white !important;
  filter: brightness(50%);
  opacity: .8; }

.Hero > article {
  display: flex;
  justify-content: center; }

.Nav-Text {
  position: absolute;
  width: 60%;
  color: white;
  font-size: 3em;
  top: 40%;
  z-index: 10;
  font-weight: bold; }

.footer {
  background-color: #FFFAFA;
  height: 18vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.social {
  display: flex; }
  .social > div {
    margin: 8px; }

.social-animate {
  transform: translateY(-50px); }
  .social-animate:nth-child(1) {
    animation-name: 'social-anim';
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: .5s; }
  .social-animate:nth-child(2) {
    animation-name: 'social-anim';
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: .5s; }
  .social-animate:nth-child(3) {
    animation-name: 'social-anim';
    animation-duration: 1500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: .5s; }

@keyframes social-anim {
  0% {
    transform: translateY(-50px); }
  100% {
    transform: translateY(0px); } }

.pricing {
  margin-left: 10%;
  font-size: 1em;
  color: black;
  letter-spacing: 1.5px; }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }
